*{
	height: auto;
}
#header-top {
	height: 35px;
	line-height: 35px;
	background-color: #f8f7f7;
	border-bottom: 1px solid #eae9e9;
}
.phone-email {
	float: left;
	margin-right: 15px;
}
.phone-email-2:before {
	content: "|";
	margin-right: 15px;
}
.phone-email i {
	margin-right: 10px;
}
.social-ul {
	float: right;
	overflow: hidden;
	height: 100%;
}
.social-ul li,.social-ul li a {
	float: left;
	list-style: none;
}
.social-ul li a {
	height: 35px;
	width: 35px;
	color: #595858;
	font-size: 15px;
	text-align: center;
	border-right: 1px solid #eae9e9;
}
.social-ul li:first-child a {
	border-left: 1px solid #eae9e9;
}
.social-ul li.social-facebook a:hover,.social-ul-2 li.social-facebook a  {
	background-color: #5d82d1;
}
.social-ul li.social-twitter a:hover,.social-ul-2 li.social-twitter a {
	background-color: #40bff5;
}
.social-ul li.social-google a:hover,.social-ul-2 li.social-google a {
	background-color: #eb5e4c;
}
.social-ul li.social-pinterest a:hover,.social-ul-2 li.social-pinterest a {
	background-color: #e13138;
}
.social-ul li.social-vimeo a:hover,.social-ul-2 li.social-vimeo a {
	background-color: #35c6ea;
}
.social-ul li.social-linkedin a:hover,.social-ul-2 li.social-linkedin a {
	background-color: #238cc8;
}
.social-ul li.social-dribbble a:hover,.social-ul-2 li.social-dribbble a {
	background-color: #f7659c;
}
.social-ul li.social-youtube a:hover,.social-ul-2 li.social-youtube a {
	background-color: #ef4e41;
}
.social-ul li.social-rss a:hover,.social-ul-2 li.social-rss a {
	background-color: #faa33d;
}
.social-ul.social-ul-2 li a:hover {
	background-color: #171717;
}
#header-top.header-top-2 {
	border-bottom-color: #424242;
	background-color: #282828;
}
#header-top.header-top-2 .social-ul li a {
	border-right-color: #646464;
}
#header-top.header-top-2 .social-ul li:first-child a {
	border-left-color: #646464;
}
#header-top.header-top-2 .phone-email-2:before {
	color: #424242;
}
#header-top.header-top-3 .social-ul li a {
	border-right-color: #e9e8e8;
}
#header-top.header-top-3 .social-ul li:first-child a {
	border-left-color: #e9e8e8;
}
#header-top.header-top-3 .social-ul li a:hover {
	background-color: #171717;
}
#header {
	height: 95px;
	line-height: 95px;
	position: relative;
}
#header > .container {
	position: relative;
}
#header > .container > .row > .col-md-4 {
	position: static;
}
#header::before {
	background-color: #e9e8e8;
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: -3px;
	left: 0;
	content: "";
}
.logo a {
	float: left;
}
.logo img {
	max-height: 95px;;
}
.logo span {
	padding-left: 10px;
	font-size: 12px;
	display: inline-block;
	float: left;
}
.navigation {
	float: right;
}
.navigation ul li ul {
	z-index: 998;
}
.navigation > ul > li {
	float: left;
	font-size: 14px;
	line-height: 95px;
	margin-right: 10px;
	position: relative;
	list-style: none;
}
.navigation > ul > li:last-child {
	margin-right: 0;
}
.navigation > ul > li > a {
	padding: 0 10px;
	display: inline-block;
	line-height: 94px;
}
.navigation > ul > li {
	border-top: 2px solid #FFF;
}
.navigation li:hover ul {
	top: 0;
	background-color: #FFF;
	border: 1px solid #eae9e9;
}
.navigation > ul > li:hover > ul {
	top: 95px;
}
.navigation li ul li ul {
	position: absolute;
	left: 199px;
	margin-top: -1px;
}
.navigation ul > li > ul > li {
	float: none;
	margin: 0;
}
.navigation ul > li ul {
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 993;
	width: 200px;
}
.navigation li ul li a {
	height: inherit;
	float: inherit;
	text-align: left;
	display: block;
	margin: 0 !important;
	padding: 0 15px;
	z-index: 993;
	font-size: 13px;
	font-weight: 600;
	line-height: 38px;
	border-bottom: 1px solid #eae9e9;
}
.navigation li ul li:last-child a {
	border-bottom: none;
}
.navigation ul > li ul li {
	position: relative;
	float: none;
	list-style: none;
}
.menu-nav-arrow {
	margin-left: 5px;
}
.navigation ul > li ul li .menu-nav-arrow {
	float: right;
}
.navigation-2.navigation li ul li ul {
	left: 200px;
	margin-top: 0;
}
.navigation-2.navigation li:hover ul {
	border: none;
}
.navigation-2.navigation li ul li a {
	border-bottom-color: #e66551;
}
.navigation-2.navigation li ul li a:hover,.navigation-2.navigation li ul li.current_page_item > a,.navigation-2.navigation > ul > li:hover li:hover > a {
	background-color: #171717;
}

.navigation > ul > li.mega-menu > ul {
	margin: 0 15px;
}
.navigation > ul > li.mega-menu {
	position: static;
}
.navigation > ul > li.mega-menu > ul {
	left: 0;
	right: 0;
	width: auto;
}
.navigation > ul > li.mega-menu ul {
	top: 97px;
}
.navigation ul > li.mega-menu > ul > li {
	float: left;
	padding: 15px;
}
.navigation > ul > li.mega-menu ul li ul {
	border: none;
	display: block !important;
	overflow: hidden !important;
	position: static;
	height: auto !important;
	width: 100%;
}
.navigation > ul > li.mega-menu li li,.navigation > ul > li.mega-menu li a,.navigation > ul > li.mega-menu li li a {
	width: 100%;
	float: left;
	clear: left;
}
.navigation > ul > li.mega-menu > ul > li > a:first-child {
	font-size: 14px;
	color: #171717 !important;
	background: transparent !important;
}
.navigation > ul > li.mega-menu li li:before {
	content: "\f105";
	font-family: "FontAwesome";
	float: left;
	position: absolute;
	top: -27px;
	left: 10px;
}
.navigation > ul > li.mega-menu li li > a {
	padding-left: 25px;
}
.navigation li.mega-menu ul li:last-child a {
	border-bottom: 1px solid #eae9e9;
}
.navigation ul > li.mega-menu ul li .menu-nav-arrow {
	display: none;
}

.navigation li.mega-menu:hover ul,.navigation li > ul,.navigation li > ul li > ul,.navigation li ul li ul {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.28s ease-in-out;
	-moz-transition: all 0.28s ease-in-out;
	-ms-transition: all 0.28s ease-in-out;
	-o-transition: all 0.28s ease-in-out;
	transition: all 0.28s ease-in-out;
	-moz-transform: scaleY(0);
	-webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-o-transform-origin:0 0;
	-ms-transform-origin:0 0;
	transform-origin:0 0;
}
.navigation li.mega-menu:hover ul,.navigation li:hover > ul,.navigation li > ul li:hover > ul,.navigation li ul li:hover ul {
	opacity: 1;
	visibility: visible;
	-moz-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}
.navigation_mobile {
	height: 35px;
	line-height: 35px;
	position: relative;
	width: 300px;
	margin-top: 30px;
	float: right;
}
.navigation_mobile ul {
	margin-bottom: 0;
}
.navigation_mobile_click {
	border: 1px solid #e9e8e8;
	padding: 0 10px;
	background-color: #f8f7f7;
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}
.navigation_mobile > ul {
	background-color: #FAFAFA;
	border: 1px solid #dedede;
	border-top: none;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 35px;
	width: 100%;
	z-index: 993;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	display: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.navigation_mobile > ul li ul {
	position: relative;
	margin-bottom: 0;
	border-top: 1px solid #ebebeb;
	margin: 0 -20px;
	display: none;
}
.navigation_mobile_click:before {
	content: "\f0c9";
	font-family: "FontAwesome";
	font-size: 20px;
	position: absolute;
	right: 0;
	top: 0;
	height: 35px;
	width: 35px;
	text-align: center;
}
.navigation_mobile > ul li {
	float: none;
	padding: 0 15px;
	line-height: 33px;
	border-bottom: 1px solid #ebebeb;
	text-align: left;
	font-size: 14px;
	list-style: none;
}
.navigation_mobile > ul a {
	background: transparent;
}
.navigation_mobile > ul a i {
	margin-right: 5px;
}
.navigation_mobile > ul li ul li {
	border-bottom: 0;
	line-height: 30px;
	margin-left: 10px;
}
.navigation_mobile > ul li ul li a {
	font-size: 14px;
}
.navigation_mobile > ul li ul li:before {
	content: "\f054";
	font-family: "FontAwesome";
	font-size: 10px;
	margin-right: 8px;
	speak-as: none;
	position: relative;
	top: 1px;
}
.header-search {
	position: relative;
	float: right;
	height: 35px;
	margin: 30px 0 0 30px;
}
.header-search-a {
	float: right;
	cursor: pointer;
	height: 35px;
	width: 35px;
	line-height: 32px;
	background-color: #f8f7f7;
	border: 1px solid #eae9e9;
	text-align: center;
}
.header-search-form {
	position: absolute;
	height: 53px;
	width: 184px;
	top: 35px;
	right: 0;
	display: none;
}
.header-search-form input {
	background-color: #FFF;
	border: none;
	height: 32px;
	width: 164px;
	font-size: 12px;
	line-height: 32px;
	margin: 10px 0 0 10px;
}
.header-search-active .header-search-a {
	-moz-border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}
.header-search-active .header-search-form {
	-moz-border-radius: 2px 0 2px 2px;
	-webkit-border-radius: 2px 0 2px 2px;
	border-radius: 2px 0 2px 2px;
	z-index: 999;
}
#header.header-2 .navigation {
	float: left;
}
#header.header-2 .navigation > ul > li > a {
	padding: 0 8px;
}
#header.header-2 .navigation > ul > li:hover > ul {
	top: 93px;
}
#header.header-2 .navigation > ul > li.mega-menu:hover > ul {
	top: 95px;
}
#header.header-3 {
	height: auto;
}
#header.header-3 .logo {
	text-align: center;
	margin-bottom: 20px;
}
#header.header-3 .logo a,#header.header-3 .logo span {
	float: none;
}
#header.header-3 .navigation {
	text-align: center;
	float: none;
	line-height: normal;
}
#header.header-3 .navigation > ul > li {
	line-height: 55px;
	border-top: none;
	float: none;
	display: inline-block;
}
#header.header-3 .navigation > ul > li > a {
	line-height: 55px;
}
#header.header-3 .navigation > ul > li {
	border-bottom: 2px solid #FFF;
}
#header.header-3 .navigation > ul > li:hover > ul {
	top: 56px;
}
#header.header-3 .navigation > ul > li:hover {
	border-bottom-color: #FFF !important;
}
#header.header-3 .navigation > ul > li.mega-menu:hover > ul {
	top: 173px;
}
#header.header-3 .navigation > ul > li.mega-menu li li:before {
	top: -47px;
}
#header.header-4::after {
	background-color: #e9e8e8;
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: 55px;
	left: 0;
	content: "";
}
#header.header-4 .navigation {
	float: left;
}
#header.header-4 .navigation > ul > li {
	float: left;
}
#header.fixed-nav {
	position: fixed;
	opacity: 1;
	filter: alpha(opacity=100);
	top: 0;
	left: 0;
	width: 100%;
	z-index: 993;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
	background-color: #FFF;
}
.boxed #header.fixed-nav,.boxed-2 #header.fixed-nav {
	width: 990px;
	left: inherit;
}