.box-icon{
    text-align: center;
    overflow: hidden;
    height: 100%;
    float: left;
}
.box-icon-i{
    font-size: 30px;
	text-align: center;
	margin: 0 auto 20px; 
}
.box-icon P {
    margin-bottom: 0;
    font-size: 14px; 
}
.box-icon-i-2{
    background-color: rgb(151, 147, 147);
    height: 82px;
    width: 85px;
    line-height: 70px;
	border: 3px solid #6a6868;
	margin: 0 auto 30px;
    border-radius: 50%;
}
.box-icon-2 .box-icon-i {
	float: left;
	margin-right: 15px;
	margin-bottom: 0;
}
.box-icon-2 {
	overflow: hidden;
	height: 100%;
}
.box-icon-i-2 a i{
    color: rgb(0, 0, 0);
}
.box-icon-container{
    margin: 10px;
}
.box-icon-container h5{
    color: red;
}
.box-icon-container p {
    color: rgb(85, 88, 90);
}
.box-icon:hover .box-icon-i-2{
	background-color: #ff0000;
    border: 3px solid #f0efef;

}
.click-scroll{
    height: 90px;
    width: 90px;
    position: fixed;
}
.portpolio-box{
    width: 250px;
}
.portpolio-box img{
    width: 100%;
}
.icon-p{
    display: flex;
    margin-top: 10px;
}
.icon-p i{
    font-size: 25px;
    margin: 20px;
    padding: 7px;
    color: #fff;
    margin-top: 10px;
    border-radius:1px;
    background-color: rgb(247, 0, 0);
}
.container-icon-p{
 margin-left: 10px;   
}
.container-icon-p h6:hover , .container-icon-p p:hover{
    /* color: red; */
    border: 3px solid #f0efef;

}
.learn-more{
    text-align: center;
}
.learn-more a{
    background-color: #f0efef;
    padding: 10px;
    margin-bottom: 20px;
}
.learn-more a:hover{
    background-color: rgb(247, 0, 0);
}
.accordion-body p{
    font-size: 13px;
}
.box-icon-1{
    height: 200px;
}

.footerSt{
    height: 400px;
    width: 100%;
}
.social a{
    padding: 10px;
    background-color: #6a6868;
}
.social a i{
    font-size: 16px;
    color: #f0efef;
}
.social a:hover{
    background-color: #ff0000;
}
hr{
    color: #fff;
    font-size: medium;
}
.social-text{
    font-size: 13px;
}
.post-content h6 > a , span{
    font-size: 15px;
}
.post-content h6 a:hover{
    color: #ff0000;
}
#footertt{
	background-color: #111;
	padding: 20px;
}
.container{
    margin-bottom: 10px;
}
.copyrights {
	float: left;
	font-size: 14px;
}
.navigation-footer {
	float: right;
}
.navigation-footer > ul > li {
	float: left;
	font-size: 15px;
	margin-right: 20px;
	list-style: none;
}
.navigation-footer > ul > li:last-child {
	margin-left: 0;
}
.navigation-footer li ul {
	display: none;
}
